div.benefit.d-flex-hor.mx-1.container
    div.bnf-content.d-flex-ver.my-1
        img(src="../image/benefit/call.jpg")
        p.text 24/7 Free Support
        p.txt-detail.m-0 You'll be speaking with one of our presentatives!
    div.bnf-content.d-flex-ver.my-1
        img(src="../image/benefit/ship.jpg")
        p.text Security Policy
        p.txt-detail.m-0 All your personal data is portected.
    div.bnf-content.d-flex-ver.my-1
        img(src="../image/benefit/money.jpg")
        p.text Delivery Policy
        p.txt-detail.m-0 Free delivery over $200
    div.bnf-content.d-flex-ver.my-1
        img(src="../image/benefit/service.jpg")
        p.text Return Policy
        p.txt-detail.m-0 Not satisfied with your order? Return it in-store.