div.brand 
    div.brand-container.d-flex-hor
        div.img-container
            img(src="../image/brand/2.jpg")
        div.img-container
            img(src="../image/brand/3.jpg")
        div.img-container
            img(src="../image/brand/4.jpg")
        div.img-container
            img(src="../image/brand/5.jpg")
        div.img-container
            img(src="../image/brand/6.jpg")
        div.img-container
            img(src="../image/brand/7.jpg")