footer 
    div.store-infor
        div.infor
            p.m-1.uppercase.bold Information
            ul
                li 
                    a(href="#") Terms and conditions of use
                li 
                    a(href="#") Enviroment notice
                li 
                    a(href="#") Legal Notice
                li 
                    a(href="#") Privacy
                li 
                    a(href="#") Rovocation terms
                li 
                    a(href="#") Shipping and payment
        div.company
            p.m-1.uppercase.bold our company
            ul 
                li 
                    a(href="#") Delivery
                li 
                    a(href="#") Legal Notice
                li 
                    a(href="#") About Us
                li 
                    a(href="#") Secure Payment
                li 
                    a(href="#") Contact Us
                li 
                    a(href="#") Sitemap
                li 
                    a(href="#") Store
        div.account
            p.m-1.uppercase.bold your account
            ul 
                li 
                    a(href="#") Personal
                li 
                    a(href="#") Orders
                li 
                    a(href="#") Credit
                li 
                    a(href="#") Address
                li 
                    a(href="#") Voucher

        div.letter 
            p.uppercase.bold newsletter
            p You may unsubcribe at any moment.For that purpose, please find our contact info in the legal notice.
            div.input-container
                input(class="input-field" type="text" placeholder="Your Email" name="email")
                i.fa.fa-envelope 

    