div.top-header.d-flex-hor.bg-black
    div
    div.logo
        a(href="../html/index.html")
            img(src="../image/logo.png")
    div.user-function
        a(href="../html/login.html").tooltip.fa.fa-user-o
            .tooltiptext Register/ Login
        a(href="../html/checkout.html").tooltip.fa.fa-shopping-cart
            span.tooltiptext Shopping Cart
header
    nav.bg-black
        ul.d-flex-hor.m-0.p-0
            li.main-menu
                a(href="../html/index.html") Home
            li.main-menu
                a(href="../html/protein.html") Protein
            li.main-menu
                a(href="../html/bar.html") Bars
            li.main-menu
                a(href="#") Brands
            li.main-menu
                a(href="#") Contact Us
            li.main-menu
                a(href="#") Our Blog

