.benefit {
    p.text {
        margin        : .5rem 0;

        text-transform: uppercase;
        font-weight   : bold;
        font-size     : 13px;
    }

    .txt-detail {
        padding  : 0 1rem;

        font-size: 13px;
    }
}