extends ../layout/_protein.pug

block title
    title WHEY PROTEIN

block main-content
    div(class="whey-protein container d-flex")
        div(class="left")
            ul.m-0.p-0
                li 
                    a(href="#" class="bold") Protein
                li 
                    a(href="#") Concentrates
                li 
                    a(href="#") Isolate
                li 
                    a(href="#") Plant Protein & Gainer
                    
        div(class="right")
            div.right-infor.d-flex
                div.right-content
                    h4.m-0 Protein 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, amet quae est ad quia atque illum consequatur reprehenderit nemo, iusto facere, a accusantium velit porro distinctio. Exercitationem saepe repudiandae incidunt!
                div.right-img 
                    img(src="../image/whey/9.png")

            section#protein-product
                div.total-pro
                    p There are 12 products
                div.products.wow.slideInUp(data-wow-delay="1s")
                    .protein-container
                        .thumbnail-product
                            .product-img
                                img(src="../image/whey/2.png", alt="")
                            a(href="../html/product-main.html").product-name.bold NutriTech NT
                            p.product-price.bold $14.00
                            select(placeholder="Choose size")
                                option 5lbs 
                                option 10lbs 
                            .prodcut-quanity-cart.d-flex-hor    
                                input(type="number" id="quantity" min="1" placeholder="1")
                                p.uppercase.bold.align-center Add to cart
                        .thumbnail-product
                            .product-img
                                img(src="../image/whey/3.png", alt="")
                            a(href="../html/product-main.html").product-name.bold NitroTech 
                            p.product-price.bold $26.00
                            select(placeholder="Choose size")
                                option 5lbs 
                                option 10lbs 
                            .prodcut-quanity-cart.d-flex-hor    
                                input(type="number" id="quantity" min="1" placeholder="1")
                                p.uppercase.bold.align-center Add to cart
                        .thumbnail-product
                            .product-img
                                img(src="../image/whey/8.png", alt="")
                            a(href="../html/product-main.html").product-name.bold Rule1 
                            p.product-price.bold $44.00 
                            select(placeholder="Choose size")
                                option 5lbs 
                                option 10lbs 
                            .prodcut-quanity-cart.d-flex-hor    
                                input(type="number" id="quantity" min="1" placeholder="1")
                                p.uppercase.bold.align-center Add to cart
                        .thumbnail-product
                            .product-img
                                img(src="../image/whey/6.png", alt="")
                            a(href="../html/product-main.html").product-name.bold OstroVit
                            p.product-price.bold $24.00 
                            select(placeholder="Choose size")
                                option 5lbs 
                                option 10lbs 
                            .prodcut-quanity-cart.d-flex-hor    
                                input(type="number" id="quantity" min="1" placeholder="1")
                                p.uppercase.bold.align-center Add to cart
                        .thumbnail-product
                            .product-img
                                img(src="../image/whey/6.png", alt="")
                            a(href="../html/product-main.html").product-name.bold OstroVit
                            p.product-price.bold $24.00 
                            select(placeholder="Choose size")
                                option 5lbs 
                                option 10lbs 
                            .prodcut-quanity-cart.d-flex-hor    
                                input(type="number" id="quantity" min="1" placeholder="1")
                                p.uppercase.bold.align-center Add to cart
                        .thumbnail-product
                            .product-img
                                img(src="../image/whey/6.png", alt="")
                            a(href="../html/product-main.html").product-name.bold OstroVit Whey Protein
                            p.product-price.bold $24.00 
                            select(placeholder="Choose size")
                                option 5lbs 
                                option 10lbs 
                            .prodcut-quanity-cart.d-flex-hor    
                                input(type="number" id="quantity" min="1" placeholder="1")
                                p.uppercase.bold.align-center Add to cart
                        .thumbnail-product
                            .product-img
                                img(src="../image/whey/9.png", alt="")
                            a(href="../html/product-main.html").product-name.bold Whey Protein 80
                            p.product-price.bold $14.00 
                            select(placeholder="Choose size")
                                option 5lbs 
                                option 10lbs 
                            .prodcut-quanity-cart.d-flex-hor    
                                input(type="number" id="quantity" min="1" placeholder="1")
                                p.uppercase.bold.align-center Add to cart
                        .thumbnail-product
                            .product-img
                                img(src="../image/whey/9.png", alt="")
                            a(href="../html/product-main.html").product-name.bold Whey Protein 80
                            p.product-price.bold $14.00 
                            select(placeholder="Choose size")
                                option 5lbs 
                                option 10lbs 
                            .prodcut-quanity-cart.d-flex-hor    
                                input(type="number" id="quantity" min="1" placeholder="1")
                                p.uppercase.bold.align-center Add to cart
                        .thumbnail-product
                            .product-img
                                img(src="../image/whey/9.png", alt="")
                            a(href="../html/product-main.html").product-name.bold Whey Protein 80
                            p.product-price.bold $14.00 
                            select(placeholder="Choose size")
                                option 5lbs 
                                option 10lbs 
                            .prodcut-quanity-cart.d-flex-hor    
                                input(type="number" id="quantity" min="1" placeholder="1")
                                p.uppercase.bold.align-center Add to cart
                        .thumbnail-product
                            .product-img
                                img(src="../image/whey/12.png", alt="")
                            a(href="../html/product-main.html").product-name.bold Protein Isolate
                            p.product-price.bold $35.00 
                            select(placeholder="Choose size")
                                option 5lbs 
                                option 10lbs 
                            .prodcut-quanity-cart.d-flex-hor    
                                input(type="number" id="quantity" min="1" placeholder="1")
                                p.uppercase.bold.align-center Add to cart
                        .thumbnail-product
                            .product-img
                                img(src="../image/whey/12.png", alt="")
                            a(href="../html/product-main.html").product-name.bold Protein Isolate
                            p.product-price.bold $35.00 
                            select(placeholder="Choose size")
                                option 5lbs 
                                option 10lbs 
                            .prodcut-quanity-cart.d-flex-hor    
                                input(type="number" id="quantity" min="1" placeholder="1")
                                p.uppercase.bold.align-center Add to cart
                        .thumbnail-product
                            .product-img
                                img(src="../image/whey/12.png", alt="")
                            a(href="../html/product-main.html").product-name.bold Protein Isolate
                            p.product-price.bold $35.00 
                            select(placeholder="Choose size")
                                option 5lbs 
                                option 10lbs 
                            .prodcut-quanity-cart.d-flex-hor    
                                input(type="number" id="quantity" min="1" placeholder="1")
                                p.uppercase.bold.align-center Add to cart

